

.brand {
    @apply p-1 rounded px-[5px] inline-block text-white font-normal text-base leading-5 tracking-[4px] uppercase dark:bg-[#0787ff33] bg-cyan-900
}

.bg-skills {
    @apply dark:bg-[#0787ff1a] bg-[#8f89897c]
}
.year-label {
    @apply border-2 text-sm  2xl:text-xl inline-block rounded-full border-cyan-500 py-1 px-4 my-2;
}


@keyframes typing {
  from { width: 0; }
  to   { width: var(--typing-width); }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: rgb(14, 148, 238); }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid rgb(6, 175, 218);
  width: var(--typing-width);

  animation:
    typing 3s steps(var(--typing-steps)) 1s infinite alternate,
    blink 0.75s step-end infinite;
}

.dark-text {
    @apply  dark:text-white  text-cyan-900 
}

.text-blue {
    @apply text-[#008DDA]
}