.brand {
    background-color: rgba(7, 135, 255, 0.200);
    border-radius: 4px;
    padding: 5px;
    display: inline-block;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.bg-skills {
    background-color: rgba(7, 135, 255, 0.1)
}
.year-label {
    @apply border-2 text-sm  2xl:text-xl inline-block rounded-full border-cyan-500 py-1 px-4 my-2;
}


@keyframes typing {
    from { width: 0; }
    to { width: 13ch; }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: rgb(14, 148, 238); }
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid rgb(6, 175, 218);
    animation: typing 3s steps(13) 1s infinite alternate,
                blink 0.75s step-end infinite;
}

.dark-text {
    @apply  dark:text-white  text-gray-700 
}
.container-e {
    @apply dark:bg-sky-950 bg-gray-300  rounded-xl p-5 mb-10 w-full
}
.text-blue {
    @apply text-[#008DDA]
}